<script type="text/javascript" src="/js/support.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link href="style.css" rel="stylesheet" type="text/css">
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">We <i>THE NSK SUPERMARKET </i> is a supermarket that helps the customers to buy their products online by keeping them safe at this pandemic situation. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/">About Us</a></li>
            <li><a href="mailto: nskgroceries@gmail.com">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
                        <a href="mailto: nskgroceries@gmail.com">NSK SUPERMARKET</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    