<%- include("./partials/navbar") %>
<div class="after_nav container-fluid">

      <div class="display_category" id="home">
            <div class="row" id="img">
              <div class="col-4 category">
                <a href="category/groceries/pulses&cereals&nuts"><img src="https://gumlet.assettype.com/freepressjournal%2Fimport%2F2016%2F10%2FIndian-Cooking-Pulses.jpg?w=1200" alt=""></a>
                <h4>Pulses - Cereals - Nuts</h4>
              </div>
              
              <div class="col-4 category">
                <a href="category/groceries/rice"><img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator-asia.com/headlines/markets/going-against-the-grain-declining-political-and-price-interference-provides-rice-sourcing-boost-to-asia-food-firms/11938415-1-eng-GB/Going-against-the-grain-Declining-political-and-price-interference-provides-rice-sourcing-boost-to-Asia-food-firms.jpg" alt=""></a>
                <h4>Rice</h4>
              </div>
              
              <div class="col-4 category">
                <a href="category/groceries/spices"><img src="http://images.ctfassets.net/3s5io6mnxfqz/3pLESMFjNopcam5J5qGcoT/0427544b060a8fd29e3c0b68281d56cf/AdobeStock_191057762.jpeg" alt=""></a>
                <h4>Spices</h4>
              </div>
              
              <div class="col-4 category">
                <a href="category/groceries/oils"><img src="https://27x3sk1jp4383ciecw14gkz1-wpengine.netdna-ssl.com/wp-content/uploads/2016/07/edible-oil-feature-image.jpg" alt=""></a>
                <h4>Oils</h4>
              </div>
                  
              <div class="col-4 category"> 
                <a href="/category/groceries/others"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvhLbaGMolN1T-J5a3V4xtojdrtT-mPXMVlA&usqp=CAU" alt=""></a>
                <h4>OtherItems</h4>
              </div>
    

          </div>
          </div>
        </div>    

    </div>
    <%- include("./partials/footer") %>
</body>
</html>