<%- include("./partials/navbar") %>
<%- include("./partials/successFlash") %> 
<div class="after_nav container-fluid">
        <div class="display_category" id="home">
            <div class="row" id="img">
              <div class="col-4 category">
                <a href="category/soft-drinks"><img src="https://www.packagingdigest.com/sites/packagingdigest.com/files/styles/article_featured_retina/public/AdobeStock_279692163_Editorial_Use_Only-Beverage-FTR-new.jpg?itok=moSeFM8n" alt=""></a>
                <h4>SoftDriks</h4>
              </div>
              
              <div class="col-4 category">
                
                <a href="groceries"><img src="https://www.gannett-cdn.com/-mm-/a0a28bd666af6d80b33247a358069ae6b7ce0cc4/c=0-108-2121-1306/local/-/media/2016/07/22/USATODAY/USATODAY/636047914661198701-ThinkstockPhotos-467612138.jpg?width=660&height=373&fit=crop&format=pjpg&auto=webp" alt=""></a>
                <h4>Groceries</h4>
              </div>
              
              <div class="col-4 category">
                <a href="category/biscuit"><img src="https://images-na.ssl-images-amazon.com/images/I/41SpdCC34fL._AC_.jpg" alt=""></a>
                <h4>Biscuits</h4>
              </div>
              
              <div class="col-4 category">
                <a href="category/snacks&chocolates"><img src="https://5.imimg.com/data5/II/NE/MY-15534412/lays-classic-chips-500x500.png" alt=""></a>
                <h4>Snacks</h4>
              </div>
              
            <div class="col-4 category"> 
              <a href="category/toiletries"><img src="https://www.housingforward.org/sites/default/files/styles/x-large/public/images/Toiletries.jpg?itok=OGevFixl" alt=""></a>
              <h4>Toiletries</h4>
            </div>
              
            
            <div class="col-4 category"> 
              <a href="category/landuary"><img src="https://cen.acs.org/content/dam/cen/96/9/09609-feature5-detergents-700.jpg" alt=""></a>
              <h4>Laundary Pdts</h4>
            </div>
            
            <div class="col-4 category"> 
              <a href="category/stationery"><img src="https://franchiseindia.s3.ap-south-1.amazonaws.com/uploads/content/edu/art/5d40461359a6e.jpeg" alt=""></a>
              <h4>Stationery</h4>
            </div>
            <div class="col-4 category"> 
              <a href="category/"><img src="" alt=""></a>
              <h4></h4>
            </div>
            <div class="col-4 category"> 
              <a href="category/"><img src="" alt=""></a>
              <h4></h4>
            </div>

          </div>
          </div>
        </div>    
        <%- include("./partials/footer") %>
    </body>
</html>