<%- include("./partials/navbar") %>
<style>
    body
    {
        background-color: white;
    }
    .headJT{
      background-color : #ebebeb;
      color:royalblue;
     }
    .c_text
    {
      margin-top : 70px;
      margin-left : 200px;
    }
    .mail
    {
      margin-top: 30px;;
      margin-left :540px;
      font-size : 20px;
    }
  </style>
 
</head>
<body>
  <div class="jumbotron headJT container-fluid"> 
    <h1>Raise Request</h1>
  </div>
	<div class="container c_text">
    <h4>If you have come across any problems or issues with the purchase , we apologize for </h3>
    <h4>that. Feel free to contact the customer support about the purchase issues or any other </h3>
    <h4>problems. You can also raise return request here. We'll be happy to help. Thank You,</h3>
    <h4>have a great day.</h3>
    </div>
    <div class="mail">
    	<h4>EMail :<a href = "mailto: kgkkannan14@gmail.com?">nskgroceries@gmail.com</a></h4>
    	<h4>Phone : 97891 05467</h4>
    </div>
</body>
</html>
